tmp/
**/assets/**
!packages/frontend/public/assets/**
!packages/extension/assets/**
node_modules
.env*
.env.local
linux-chrome-profile*
.DS_Store

*.db
task-lists/*
.vscode/launch.json

# Backup files
data/sqlite.db.backup.*
backup/logs/*.log